.classpath
.project
.pydevproject
.settings/
dependency-reduced-pom.xml
target/
.DS_STORE
.idea
*.pyc
*.class
*.log
*.tmp
*.iml
*~
*.swp
log/
metis.inp.*
bin/graph_scripts/data/*
bin/systemConfigs/generated_*
bin/databases
bin/databasesV3

bin/client.out
bin/oracle.out
bin/server.out