.classpath
.project
.pydevproject
.settings/
dependency-reduced-pom.xml
target/
.DS_STORE
.idea
*.pyc
*.class
*.log
*.tmp
*.iml
*~
*.swp
src/ch/usi/dslab/lel/ramcast/bak
bin/test.sh

bin/emulab/setup-node.sh
bin/emulab/libramcast-node-setup.tar.gz